.main {
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
    background-color: #fff;
    max-height: 1200rem;
    z-index: 999;
    padding-bottom: 170rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25rem;
    border-bottom: 2rem solid #f9f9f9;
}

.title {
    font-size: 35rem;
    vertical-align: center;
}

.cars {
    font-size: 30rem;
    color: #999;
}

.list {
    overflow: auto;
}

.shoppingCart {
    display: flex;
    flex-flow: column;
    color: #999;
    font-size: 30rem;
    align-items: center;
    padding: 22rem 0;
}

.shoppingCart i {
    font-size: 200rem;
    color: rgba(9, 9, 9, 0.2);
    margin-bottom: 20rem;
}